<h1>Dashboards by Keen IO</h1>
      <p class="lead">Responsive dashboard templates for Bootstrap</p>
      <a class="btn hero-btn" href="https://github.com/keen/dashboards" target="_blank">Source Code on Github</a>

      <iframe src="http://ghbtns.com/github-btn.html?user=keen&amp;repo=dashboards&amp;type=watch&amp;count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=keen&amp;repo=dashboards&amp;type=fork&amp;count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h2><a href="./examples/">Examples</a></h2>
          <a href="./examples/">
           <%= image_tag('examples/starter-kit/preview.png', :class=>'img-responsive img-thumbnail') %>
    
          </a>
        </div>

        <div class="col-sm-6">
          <h2><a href="./layouts/">Layouts</a></h2>
          <a href="./layouts/">
          	<%= image_tag('layouts/quarter-grid/preview.png', :class=>'img-responsive img-thumbnail') %>
          </a>
        </div>

      </div>
    </div>
  </div>